<%- include('templates/header') %>

<div class="d-flex">
  <div class="text-center">
    <h1 class="display-1 text-warning">403</h1>
    <h3 class="mb-3">Forbidden</h3>
    <p class="lead mb-4">You don't have permissions to this page bud.</p>
    <a href="/" class="btn btn-secondary mb-3">Return Home</a>
  </div>
</div>

<%- include('templates/footer') %>
