<%- include('templates/header') %>

<div class="d-flex  justify-content-center">
  <div class="text-center">
    <h1 class="display-1 text-danger">404</h1>
    <h3 class="mb-3">Page Not Found</h3>
    <p class="lead mb-4">Yeah... whatever you put in up top doesn't exist.</p>
    <a href="/" class="btn btn-primary mb-3">Return Home</a>
  </div>
</div>

<%- include('templates/footer') %>
