<%- include('templates/header') %>

<h1>Hello, <%= user.name %></h1>
<div class="row">
    <% ['photo1.jpg','photo2.jpg','photo3.jpg'].forEach(src => { %>
      <div class="col-12 col-md-4 mb-3">
        <img src="/images/<%= src %>" class="img-fluid rounded">
      </div>
    <% }) %>
  </div><a class="btn btn-secondary" href="/logout">Log out</a>

<%- include('templates/footer') %>
